<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>店舗詳細</title>

	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}">
		</div>

		<main>
			<div class="container pt-3 pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xxl-9 col-xl-10 col-lg-11">
						<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item"><a th:href="@{/shops}">店舗一覧</a></li>
								<li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
							</ol>
						</nav>

						<h1 class="text-center mb-3" th:text="${shop.getName()}"></h1>

						<div th:if="${errorMessage}" class="alert alert-danger">
							<span th:text="${errorMessage}"></span>
						</div>

						<div class="row">
							<div class="col-md-4 mt-4 mb-4">
								<div class="image-container">
									<img th:if="${shop.getImageName()}" th:src="@{/storage/__${shop.getImageName()}__}"
										class="img-fluid" alt="店舗画像">
									<img th:unless="${shop.getImageName()}" th:src="@{/images/noImage.png}"
										class="img-fluid" alt="NO IMAGE">
								</div>
								<!--								<div sec:authorize="isAuthenticated()">-->
								<!--									<div th:if="${shopHasFavorites}">-->
								<!--										<form th:action="@{/shops/{shopId}/favorites/delete(shopId=${shop.id})}"-->
								<!--											method="post">-->
								<!--											<input type="hidden" name="shopId" th:value="${shop.id}">-->
								<!--											<button type="submit" class="btn btn-link text-decolation-none right">-->
								<!--												&#9829;お気に入り解除</button>  &#9829; は ♥ -->
								<!--										</form>-->
								<!--									</div>-->
								<!--									<div th:unless="${shopHasFavorites}">-->
								<!--										<form th:action="@{/shops/{shopId}/favorites/add(shopId=${shop.id})}"-->
								<!--											method="post">-->
								<!--											<input type="hidden" name="shopId" th:value="${shop.id}">-->
								<!--											<button type="submit" class="btn btn-link text-decolation-none right">-->
								<!--												&#9825;お気に入り追加</button>  &#9825; は ♡ -->
								<!--										</form>-->
								<!--									</div>-->
								<!--								</div>-->

								<div sec:authorize="isAnonymous()" class="col-lg-12 px-0 mt-2 mb-4">
									<div class="card">
										<div class="card-body">
											<p class="card-text">予約するには<a th:href="@{/login}">ログイン</a>が必要です。</p>
											<button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn"
												disabled>予約する</button>
										</div>
									</div>
								</div>
								<div sec:authorize="isAuthenticated()" class="col-lg-12 px-0 mt-2 mb-4">
									<div class="card">
										<div class="card-body">
											<a th:href="@{/reservation/__${shop.getId()}__}">
												<button type="submit"
													class="btn text-white shadow-sm w-100 nagoyameshi-btn"
													disabled>予約する</button>
											</a>
										</div>
									</div>
								</div>
							</div>

							<div class="card col-md-8 mt-4 mb-4 pt-3" style="background-color:rgb(255, 252, 191);">
								<div class="col-12 container mb-4">
									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-2">
											<span class="fw-bold">カテゴリ</span>
										</div>

										<div class="col">
											<span th:each="categories : ${category}">
												<td th:if="${categories.getId() == shop.getCategoriesId()}"
													th:text="${categories.getCategoryName()}"></td>
											</span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-2">
											<span class="fw-bold">説明</span>
										</div>

										<div class="col">
											<span class="nagoyameshi-pre-wrap"
												th:text="${shop.getDescription()}"></span>
										</div>
									</div>


									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-2">
											<span class="fw-bold">住所</span>
										</div>

										<div class="col">
											<span th:text="'〒' + ${shop.getPostalCode()}"></span>
											<br>
											<span th:text="${shop.getAddress()}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-2">
											<span class="fw-bold">電話番号</span>
										</div>

										<div class="col">
											<span th:text="${shop.getPhoneNumber()}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-2">
											<span class="fw-bold">営業時間</span>
										</div>

										<div class="col">
											<span th:text="${shop.getOpenTime()} + '～' + ${shop.getCloseTime}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-2">
											<span class="fw-bold">定休日</span>
										</div>

										<div class="col">
											<span th:text="${shop.getRegularHoliday()}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-2">
											<span class="fw-bold">予算</span>
										</div>

										<div class="col">
											<span
												th:text="${#numbers.formatInteger(shop.getPrice(), 1, 'COMMA') + '円～'}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-2">
											<span class="fw-bold">座席数</span>
										</div>

										<div class="col">
											<span th:text="${shop.getSeats() + '席'}"></span>
										</div>
									</div>

									<div class="row pb-2 mb-2 border-bottom">
										<div class="col-2">
											<span class="fw-bold">Webサイト</span>
										</div>

										<div class="col">
											<a th:href="@{${shop.getShopSite()}}" th:text="${shop.getShopSite()}"
												target="_blank" rel="noopener noreferrer"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="map" style="height: 500px; width: 100%;"></div>
						<!--変数を用いてAPIキーを参照-->
						<script th:src=" @{'https://maps.googleapis.com/maps/api/js?key=' + ${googleApiKey} + ' &callback=initMap
							&libraries=places&v=weekly&solution_channel=GMP_CCS_placedetails_v1'}" defer>
							</script>
						<script src="/js/initMap.js"></script>

						<!--<div class="ratio ratio-16x9">-->
						<!--<iframe-->
						<!--th:src="'https://maps.google.co.jp/maps?output=embed&q=' + ${shop.getAddress()} + '&z=16'"-->
						<!--allowfullscreen=""></iframe>-->
						<!--</div>-->
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>